@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;500&family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap');
@import '@splidejs/splide/css/skyblue';

body{
  background-image: url(./static/img/portfolio-background.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed; 
  background-position: center;

  font-family: Ubuntu, Arial, sans-serif;
}

@-webkit-keyframes fadeIn {
  0% { opacity: 0; }
  100% { opacity: 1; } 
  }
  @-moz-keyframes fadeIn {
  0% { opacity: 0;}
  100% { opacity: 1; }
  }
  @-o-keyframes fadeIn {
  0% { opacity: 0; }
  100% { opacity: 1; }
  }
  @keyframes fadeIn {
  0% { opacity: 0; }
  100% { opacity: 1; }
  }

.fadeIn {
  animation: fadeIn 2s ease-in-out;
  -webkit-animation: fadeIn 2s ease-in-out;
  -moz-animation: fadeIn 2s ease-in-out;
  -o-animation: fadeIn 2s ease-in-out;
  }

#header {
  position: fixed;
  top: 0;
  left: -300px;
  bottom: 0;
  background: rgba(14, 31, 48, 0.92);
  overflow-y: auto;
  width: 215px;
  transition: all ease-in-out 0.5s;
  padding: 0 15px;
  z-index: auto;
}

#header .profile img{
  margin: 15px auto;
  display: block;
  width: 85px;
  border: 8px solid rgb(35, 34, 34);
  border-radius: 50%;
}

#header .profile h1{
  font-size: 20px;
  margin: 0;
  padding: 0;
  font-weight: 600;
  text-align: center;
  color: #fff;
}

#header .profile .social-links a{
  font-size: 0.9rem;
  background: rgb(35, 34, 34);
  color: #fff;
  padding: 0.5rem;
  margin-right: 0.9rem;
  border-radius: 30%;
  transition: 0.3s;
  text-decoration: none;
}

#header .profile .social-links a:hover{
  background: rgb(34, 128, 169)
}

.nav-menu a,
.nav-menu a:focus {
  display: flex;
  align-items: center;
  color: #a8a9b4;
  transition: 0.3s;
  font-size: 12px;
}

.nav-menu a i,
.nav-menu a:focus i {
  padding-right: 0.5em;
  color: #6f7180;
  font-size: 21px;
}

.nav-menu a:hover,
.nav-menu .active,
.nav-menu .active:focus,
.nav-menu li:hover > a {
  text-align: none;
  color: rgb(255, 255, 255);
}

.nav-menu a:hover i,
.nav-menu .active i,
.nav-menu .active:focus i,
.nav-menu li:hover > a i {
  text-align: none;
  color: rgb(34, 128, 169);
}

i.menu-lateral {
  position: fixed;
  color: #fff;
  background: rgba(14, 31, 48, 0.731);
  top: 1rem;
  left: 1rem;
  
  font-size: 1.5rem;
  border-radius: 4rem;
  cursor: pointer;
  z-index: 10;
  width: 40px;
  height: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.menu-lateral:hover{
  background: rgb(34, 128, 169);
  transition: 0.3s;
}

#main{
  height: 100vh;
  padding: 50px;
  text-decoration: none;
  color: #fff;
}

#main .max-width{
  margin: 300px 0 0 100px;
}

.titleHome{
  margin-bottom: 10px;
  display: inline-block;
  text-shadow: 2px 5px 5px #000;
}

.titleHome h1{
  font-size: 4rem;
  font-weight: 600;
  margin-bottom: 0;
  margin-top: 0;
}

#sobre{
  display: flex;
  flex-direction: column;
  color: rgb(0, 0, 0);
  background-color: rgba(255, 255, 255, 0.633);
  padding: 50px;
  height: 100vh;
  font-weight: 500;
}

.texto-sobre {
  margin-top: 1rem;
  margin-bottom: 1rem;
  display: flex;
  flex-direction: column;
  align-items: center;
}

#habilidades {
  display: flex;
  align-items: center;
  flex-direction: column;
  font-weight: 500;
  padding: 70px;
  height: 100%;
  color: rgb(0, 0, 0);
  background-color: rgba(255, 255, 255, 0.458);
}

#projetos {
  display: flex;
  align-items: center;
  flex-direction: column;
  padding: 40px;
  height: 100%;
  color: rgb(0, 0, 0);
  background-color: rgba(255, 255, 255, 0.458);
}

#card-master {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 40px;
}

#card {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100px;
  background-color: rgba(255, 255, 255, 0.781);
  color: rgb(1, 1, 1);
  box-shadow: 4px 7px 4px rgba(0, 0, 0, 0.912);
  margin: 10px;
  padding: 12px;
  border-radius: 7px;
}

#card h6 {
  margin-top: 10px;
}

#card:hover {
  box-shadow: 0px 0px 2px #000;
  transition: 0.3s;
}

.title-skills {
  display: flex;
  justify-content: center;
}

.skills {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin: 5px;
  padding: 7px;
  color: rgb(1, 1, 1);
}

.soft-Skills {
  margin-top: 100px;
  margin-bottom: -5%;
}

.container {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  height: 40rem;
}

.developer-img {
  position: absolute;
}

.card-comunicacao {
  color: rgba(255, 255, 255, 0);
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
  top: 140px;
  left: 200px;
}

.card-comunicacao:hover {
  color: black;
  transition: 0.5s;
  transform: scale(1.1);
  text-shadow: 1px 2px 10px black;
}

.card-criatividade {
  color: rgba(255, 255, 255, 0);
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
  left: 30px;
}

.card-criatividade:hover {
  color: black;
  transition: 0.5s;
  transform: scale(1.1);
  text-shadow: 1px 2px 10px black;
}

.card-empatia {
  color: rgba(255, 255, 255, 0);
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
  bottom: 140px;
}

.card-empatia:hover {
  color: black;
  transition: 0.5s;
  transform: scale(1.1);
  text-shadow: 1px 2px 10px rgb(0, 0, 0);
}

.card-colaboracao {
  color: rgba(255, 255, 255, 0);
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
  bottom: 205px;
  left: 50px;
}

.card-colaboracao:hover {
  color: black;
  transition: 0.5s;
  transform: scale(1.1);
  text-shadow: 1px 2px 10px black;
}

.card-negociacao {
  color: rgba(255, 255, 255, 0);
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
  top: 210px;
  right: 50px;
}

.card-negociacao:hover {
  color: black;
  transition: 0.5s;
  transform: scale(1.1);
  text-shadow: 1px 2px 10px black;
}

.card-resiliencia {
  color: rgba(255, 255, 255, 0);
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
  bottom: 140px;
}

.card-resiliencia:hover {
  color: black;
  transition: 0.5s;
  transform: scale(1.1);
  text-shadow: 1px 2px 10px black;
}

.card-adaptacao {
  color: rgba(255, 255, 255, 0);
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
  right: 30px;
}

.card-adaptacao:hover {
  color: black;
  transition: 0.5s;
  transform: scale(1.1);
  text-shadow: 1px 2px 10px black;
}

.card-organizacao {
  color: rgba(255, 255, 255, 0);
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
  top: 140px;
  right: 200px;
}

.card-organizacao:hover {
  color: black;
  transition: 0.5s;
  transform: scale(1.1);
  text-shadow: 1px 2px 10px black;
}

.listMaster {
  font-size: 1.2rem;
  display: flex;
  flex-direction: row;
  margin-right: 1rem;
}

.list-item{
  padding: 4.3px;
}

li {
  list-style-type: none;
}

.menu-nav-active {
  overflow: hidden;
}

.menu-nav-active #header {
  left: 0;
}

.fecharMenu-active {
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.2);
  position: fixed;
  top: 0;
  left: 0;
  display: block;
  transition: 1s;
}

.main-projetos {
  width: 100%;
  justify-content: flex-start;
  margin-top: 30px;
  margin-left: 50px;
}

.content-projetos {
  display: flex;
  width: 100%;
  height: 20rem;
  margin-top: 1rem;
}

.img-projetos {
  width: 30rem;
  height: 100%;
  margin-right: 1rem;
}

.content-certificados {
  display: flex;
  width: 500%;
  height: 100%;
}

.content {
  height: 510px;
  width: 935px;
  border-radius: 26px;
  overflow: hidden;
  margin-top: 2rem;
}

.img-certificados {
  height: 510px;
  width: 935px;
  padding-right: 3px;
}

.bar-navigation {
  color: rgb(255, 255, 255);
  padding: 1px 3px;
  margin-right: 1rem;
  cursor: pointer;
  margin-top: 1rem;
  border: 2px solid rgba(255, 255, 255, 0);
}

.bar-navigation:hover {
  color: rgb(255, 255, 255);
  transition: 0.5s;
  border: 2px solid rgba(255, 255, 255, 0.211);
  border-radius: 7px;
  background-color: rgb(34, 128, 169);
}

.input-slide {
  display: none;
}

#certificados {
  color: rgb(0, 0, 0);
  background-color: rgba(255, 255, 255, 0.059);
  display: flex;
  align-items: center;
  flex-direction: column;
  padding: 3%;
  height: 100vh;
  font-weight: 500;
}

#certificados h1{
  color: #fff;
  text-shadow: 2px 5px 5px #000;
}

.slide {
  width: 20%;
  transition: 0.6s;
}

.slide img {
  width: 100%;
  height: 100%;
}

#slide1:checked ~ .s1 {
  margin-left: 0;
}

#slide2:checked ~ .s1 {
  margin-left: -20%;
}

#slide3:checked ~ .s1 {
  margin-left: -40%;
}

#slide4:checked ~ .s1 {
  margin-left: -60%;
}

#slide5:checked ~ .s1 {
  margin-left: -80%;
}

#contato {
  display: flex;
  align-items: center;
  flex-direction: column;
  color: rgb(0, 0, 0);
  background-color: rgba(255, 255, 255, 0.458);
  padding: 50px;
  height: 100vh;
  font-weight: 500;
}

.master-contato {
  display: flex;
  padding-top: 3%;
}

#endereco {
  background-color: rgb(255, 255, 255);
}

#forms-contato {
  margin-left: 2%;
  background-color: rgb(255, 255, 255);
}

.btn-contato {
  color: rgb(255, 255, 255);
  background: rgba(14, 31, 48, 0.731);
  margin-right: 1rem;
  cursor: pointer;
  border: 2px solid rgba(255, 255, 255, 0);
  border-radius: 7px;
}

.btn-contato:hover {
  background: rgb(34, 128, 169);
  transition: 0.5s;
  border-radius: 7px;
}

.social-links-contato {
  margin-bottom: 3%;
}

.social-links-contato a{
  font-size: 0.9rem;
  background: rgb(35, 34, 34);
  color: #fff;
  padding: 0.4rem;
  margin-top: 1px;
  margin-bottom: 1px;
  margin-right: 0.9rem;
  border-radius: 30%;
  transition: 0.3s;
  text-decoration: none;
}

.social-links-contato a:hover{
  background: rgba(34, 129, 169, 0)
}

.info-contato {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
}

.localizacao {
  margin-top: 5%;
  justify-content: center;
  align-items: center;
}

@media (max-width: 1124px) {
  .soft-Skills {
    
    justify-content: center;
    height: 50rem;
  }

  .developer-img {
    display: none;
  }

  .card-comunicacao {
    color: black;
    margin: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
    text-shadow: 1px 1.5px 15px rgb(30, 108, 163);
    top: 0px;
    left: 0px;
  }
  
  .card-criatividade {
    color: black;
    margin: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
    text-shadow: 1px 1.5px 15px rgb(30, 108, 163);
    left: 0px;
  }
  
  .card-empatia {
    color: black;
    margin: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
    text-shadow: 1px 1.5px 15px rgb(30, 108, 163);
    bottom: 0px;
  }
  
  .card-colaboracao {
    color: black;
    margin: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
    text-shadow: 1px 1.5px 15px rgb(30, 108, 163);
    bottom: 0px;
    left: 0px;
  }
  
  .card-negociacao {
    color: black;
    margin: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
    text-shadow: 1px 1.5px 15px rgb(30, 108, 163);
    top: 0px;
    right: 0px;
  }
  
  .card-resiliencia {
    color: black;
    margin: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
    text-shadow: 1px 1.5px 15px rgb(30, 108, 163);
    bottom: 0px;
  }
  
  .card-adaptacao {
    color: black;
    margin: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
    text-shadow: 1px 1.5px 15px rgb(30, 108, 163);
    right: 0px;
  }
  
  .card-organizacao {
    color: black;
    margin: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
    text-shadow: 1px 1.5px 15px rgb(30, 108, 163);
    top: 0px;
    right: 0px;
  }
}

@media (max-width: 1024px) {
  #header {
    left: -300px;
  }
  i.menu-lateral {
    display: flex;
  }
  section.Section h2 {
    font-size: 2.5rem;
  }
  #main {
    margin-left: 0;
  }
  .img-joao {
    width: 100%;
  }
  #sobre{
    margin: 20px;
    padding: 27px 80px 0 80px;
  }
  #habilidades {
    margin: 20px;
    padding: 27px 155px 0 155px;
  }
  #card-master {
    flex-direction: column;
  }
  i.menu-lateral {
    margin: 13px;
  }
}

@media (max-width: 694px) {
  .soft-Skills {
    height: 74rem;
  }
}